@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  color: #08090a;
}

h1, h2, h3 {
  font-family: "Bebas Neue", cursive;
}

body {
  background: rgb(124, 198, 254);
  background: linear-gradient(130deg, rgb(124, 198, 254) 0%, rgb(244, 250, 255) 100%);
  font-family: "Arimo", sans-serif;
  position: relative;
}
body h1 {
  font-size: 4rem;
  margin-left: 2rem;
  text-decoration: underline;
}
body .module {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(64, 64, 255, 0.2666666667);
  z-index: 5;
  display: none;
  place-items: center;
}
body .module .module-card {
  background-color: #f4faff;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 12rem;
}
body .module .module-card h1 {
  margin: 0;
}
body .module .module-card h3 {
  font-size: 1.6rem;
}
body .module .module-card p {
  margin-top: 2rem;
  color: #4040ff;
}
body .show-module {
  display: grid;
}
body .container {
  width: 100%;
  height: auto;
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 5rem;
}
@media (max-width: 1300px) {
  body .container {
    padding: 1rem 2rem;
  }
}
@media (max-width: 1000px) {
  body .container {
    grid-template-columns: 1fr;
  }
}
body .container .cards {
  display: flex;
  flex-direction: column;
}
body .container .cards .card {
  background-color: #f4faff;
  position: relative;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  border-radius: 12px;
}
body .container .cards .card::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #5dfdcb;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  border-radius: 12px 0 0 12px;
}
body .container .cards .card .product-image {
  width: 140px;
  height: 140px;
  min-width: 140px;
  min-height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
body .container .cards .card .pi1 {
  background-image: url("/images/flowerpot.jpg");
}
body .container .cards .card .pi2 {
  background-image: url("/images/sunglasses.jpg");
}
body .container .cards .card .pi4 {
  background-image: url("/images/teddy.jpg");
}
body .container .cards .card .product-text {
  padding: 1.3rem;
  z-index: 3;
}
body .container .cards .card .product-text .product-name {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
body .container .cards .card .product-text .price {
  margin-top: 1.2rem;
  font-size: 1.3rem;
}
body .container .cards .card .add-cart {
  position: relative;
  pointer-events: none;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
body .container .cards .card .add-cart::before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53px;
  height: 53px;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
}
@media (max-width: 520px) {
  body .container .cards .card {
    flex-direction: column;
    text-align: right;
  }
}
body .container .order {
  background-color: #5dfdcb;
  border: 5px solid #7cc6fe;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
body .container .order .order-text {
  padding: 2rem;
}
body .container .order .order-text h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
body .container .order .order-spot {
  position: relative;
}
body .container .order .order-spot .truck {
  width: 200px;
  height: 200px;
  position: relative;
  pointer-events: none;
}
body .container .order .order-spot .truck::before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: all;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
}
body .container .order .order-spot p {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  color: #4040ff;
}/*# sourceMappingURL=style.css.map */